<section role="main" class="main-setction">
  <nav>
    <div class="nav-profile-section">
      <div class="profile-pic">
        <img src="assets/ajay.jpg" alt="" srcset="">
      </div>
      <div class="header-title">
        <h3 class="h1-text-color">Ajay Chagam</h3>
        <h4 class="h1-text-color">Frontend Developer</h4>
        <h5 class="h1-text-color">ajaychagam@gmail.com</h5>
      </div>
    </div>
    <ul>
      <li><a>Home</a></li>
      <li><a>Projects</a></li>
      <li><a>About</a></li>
      <li><a download="resume" href="assets/AJAY CHAGAM_resume_remote.docx">Resume</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</section>