<div class="home-bg">
  <h1 class="h1-text-color">Frontend Angular Developer</h1>
  <section class="home-container" role="home">
    <h2>
      Introduction:
    </h2>
    <br>
    <p class="intro-title">
      Talented, creative & hard-working individual, having 8 years of experience in Software Development; considerable
      knowledge in the analysis, design, coding & re-engineering of web applications. Possessing sound understanding of
      the
      Software Development Processes in line with the industrial standard; seasoned professional with a unique blend of
      Technical, Functional and Qualitative skills.
    </p>

  </section>
  <section class="home-container" role="home">
    <h2>
      Technical Skills:
    </h2>
    <br>
    <p class="intro-title">
      Expertise with angular js 1.x, angular9, Svelte, ES6, ES2019, PWA, Service workers, JavaScript, Typescript,
      JSON, babel, HTML5, CSS3, CSS custom properties, SASS, CSS Grid layout, Flexbox, Node js, Express js, NPM, yarn,
      Bootstrap, Angular Material, NGRX, Webpack, Gulp, Kendo UI, PrimeNg, ag-grid, jQuery, D3 js, SVG, Jasmin, Karma,
      Protractor, Cypress, TSLint, Google Map API, JSDoc, CSS styled components, BEM, GraphQL, NEST JS, WebSocket, java,
      spring boot, JSF, maven, hibernate, JPA, Responsive Web Design, Design Patterns, Deno, WebRTC and ORM.
    </p>

  </section>

  <section class="home-container" role="home">
    <h2>
      Resources:
    </h2>
    <br>
    <p>
      Github: <a href="https://github.com/ajaykumarreddy">https://github.com/ajaykumarreddy</a>
    </p>
    <p>
      LinkedIn: <a href="https://www.linkedin.com/in/ajay-kumar-reddy-8950365b/">https://www.linkedin.com/in/ajay</a>
    </p>

    <p>
      NPM: <a href="https://www.npmjs.com/package/aj-screen-recoder/">https://www.npmjs.com/package</a>
    </p>


  </section>

  <section class="home-container" role="home">
    <h2>
      Contact Me:
    </h2>
    <br>
    <p>
      Gmail: ajaychagam@gmail.com
    </p>
    <p>
      Phone or Whatsapp: (+91)9030368730
    </p>

  </section>

  

</div>